:root {
  /* Backgrounds */
  --my-background: transparent;
  --body-background: rgb(120, 255, 120);
  --li-a-hover-background: rgb(250, 75, 75, 0.3);
  --li-a-background: rgb(160, 255, 160, 1);

  /* Colors */
  --h1-color: rgb(200, 25, 25);
  --h2-color: rgb(225, 50, 50);
  --h3-color: rgb(250, 75, 75);
  --li-a-color: rgb(00, 100, 00);
  --li-a-hover-color: rgb(250, 75, 75);

  /* Borders */
  --li-a-border: 1px solid rgb(25, 200, 25);
  --search-border: 2px solid rgb(25, 200, 25);
  --body-border: 2px solid rgb(25, 200, 25);

  /* Search Styling*/
  --search-border-radius: 10px;
  --search-width: 100%;
  --search-font-size: 26px;
  --search-padding: 6px;

  /* h1 Styling*/
  --h1-font-size: 42px;
  --h1-font-style: italic;
  --h1-font-weight: bold;

  /* h2 Styling*/
  --h2-font-size: 34px;
  --h2-font-style: italic;
  --h2-font-weight: bold;

  /* h3 Styling*/
  --h3-font-size: 26px;
  --h3-font-style: italic;
  --h3-font-weight: bold;

  /* ul Styling*/
  --ul-decoration: none;
  --ul-font-size: 18px;
  --ul-font-style: italic;
  --ul-font-weight: bold;
  --ul-width: 100%;
  --ul-display: inline-block;

  /* li a Styling*/
  --li-a-font-size: 18px;
  --li-a-font-style: italic;
  --li-a-font-weight: bold;
  --li-a-padding: 12px;
  --li-a-display: block;
}

* {
  box-sizing: border-box;
}

/* body */
body {
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: var(--body-background);
  border: var(--body-border);
}

main {
  background-color: transparent;
}

/* Search */
#search-input {
  width: var(--search-width);
  font-size: var(--search-font-size);
  padding: var(--search-padding);
  border-radius: var(--search-border-radius);
  border: var(--search-border);
}

/* h1 */
h1 {
  text-align: left;
  background-color: transparent;
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
}

/* h2 */
h2 {
  background-color: transparent;
  color: var(--h2-color);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
}

/* h3 */
h3 {
  background-color: transparent;
  color: var(--h3-color);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
}

/* ul */
ul {
  background-color: transparent;
  list-style: var(--ul-decoration);
  padding: var(--ul-padding);
  font-size: var(--ul-font-size);
  font-style: var(--ul-font-style);
  font-weight: var(--ul-font-weight);
  color: var(--h2-color);
  display: var(--ul-display);
  width: var(--ul-width);
}

/* li a */
li a {
  color: var(--li-a-color);
  padding: var(--li-a-padding);
  display: var(--li-a-display);
  background-color: transparent;
  font-size: var(--li-a-font-size);
  border: var(--li-a-border);
  border-radius: var(--search-border-radius);
  text-decoration: none;
}

/* li a hover */
li a:hover {
  color: var(--li-a-hover-color);
  background-color: var(--li-a-hover-background);
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#colorChangeBtn,
#counter {
  background-color: black;
  color: white;
  padding: 20px;
  border: 2px solid white;
  font-size: large;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.1s;
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  font-family: "Fira Code";
}

#colorChangeBtn:active,
#counter:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;
}
