/* ----- Required -----*/

html,
body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid #222;
}

/* ----- Required -----*/

/* ----- Recommended -----*/

#header {
    height: 6%;
    background-color: #333;
    border-bottom: 1px solid #222;
    font-size: 50px;

    /* text-align will be removed */
    text-align: center;
}

#main {
    height: 90%;
    background-color: #666;
    font-size: 30px;

    /* text-align will be removed */
    text-align: center;
}

#footer {
    height: 4%;
    background-color: #333;
    border-top: 1px solid #222;
    font-size: 20px;

    /* text-align will be removed */
    text-align: center;
}

/* ----- Recommended -----*/