/* Global Variables */

:root {
    /* Colors */
    --primary-background-color: #0e51d8;
    --secondary-background-color: #ffffff;
    --highlight-color: #ff4a92;
    --text-color: #000000;
    --button-color: #ff8168;
    --button-color-disabled: #c33fbf;
    --button-text-color: #FFFFFF;
    --link-color: #f9f871;

    /* Fonts */
    --main-font: 'Fira Code', monospace;
}

/* Global Styles */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
    font-family: var(--main-font);
    color: var(--text-color);
}

/* Grid Container */

.container {
    display: grid;
    grid-template-columns: 5% 10% 10% 10% 10% 10% 10% 10% 10% 10% 5%;
    grid-template-rows: 10% 86% 4%;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    align-items: stretch;
    grid-template-areas:
        "logoGrid navGrid navGrid navGrid navGrid navGrid navGrid navGrid navGrid navGrid userGrid"
        "leftGrid mainGrid mainGrid mainGrid mainGrid mainGrid mainGrid mainGrid mainGrid mainGrid rightGrid"
        "socialGrid footerGrid footerGrid footerGrid footerGrid footerGrid footerGrid footerGrid footerGrid footerGrid adminGrid";
    inline-size: 100%;
    block-size: 100%;
    position: fixed;
}

.logoGrid {
    grid-area: logoGrid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logoGrid img {
    block-size: 100%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
}

.leftGrid {
    grid-area: leftGrid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.leftGrid img {
    inline-size: 80%;
    filter: opacity(0.5);
}

.socialGrid {
    grid-area: socialGrid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialGrid img {

    block-size: 90%;
}

.mainGrid {
    display: grid;
    grid-template-columns: 2% 48% 48% 2%;
    grid-template-rows: 4% 46% 46% 4%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". indholdGrid indholdGrid ."
        ". indholdGrid indholdGrid ."
        ". . . .";
    grid-area: mainGrid;
    border-radius: 15px;
    background-color: var(--secondary-background-color);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 0.5);
}

.indholdGrid {
    grid-area: indholdGrid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--primary-background-color);
    inline-size: 100%;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 0.5);
}

.navGrid {
    grid-area: navGrid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navGrid img {
    block-size: 80%;
}

.userGrid {
    grid-area: userGrid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userGrid img {
    block-size: 35%;
}

.rightGrid {
    grid-area: rightGrid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerGrid {
    grid-area: footerGrid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminGrid {
    grid-area: adminGrid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.adminGrid img {
    block-size: 90%;
}

/* Image Styles */

img {
    background-color: var(--button-color);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.1);
    filter: hue-rotate(45deg);
    cursor: pointer;
}

img:active {
    transform: scale(1.1);
    filter: hue-rotate(90deg);
}

img:disabled {
    filter: hue-rotate(135deg);
    background: transparent;
}

/* Link Styles */

a {
    color: var(--button-color);
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

a:hover {
    filter: hue-rotate(45deg);
    text-decoration: underline;
}

a:active {
    filter: hue-rotate(90deg);
    text-decoration: double underline;
}

a:disabled {
    filter: hue-rotate(135deg);
    text-decoration: line-through;
}

/* Indhold Styles */

.indhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indhold h1 {
    margin: 0;
}

.indhold p {
    margin: 0;
}

/* Projects Styles */

.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
