/* Global Variables */
:root {
  --font-family: "Fira Code";
  --primary-color: #3498db;
  --secondary-color: #f1c40f;
  --accent-color: #e74c3c;
  --background-color: #f7f7f7;
  --border-color: #ddd;
}

/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

/* Header Styles */
header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

/* Navigation Styles */
nav {
  position: fixed;
  inset-block-start: 65px;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: var(--accent-color);
  margin: 0 20px;
  block-size: 22px;
  inline-size: 120px;
  border: none;
  text-align: center;
  border-radius: 6px;
  transition: all 0.5s ease;
}

nav a:hover {
  background-color: var(--secondary-color);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}

/* Main Content Styles */
main {
  position: fixed;
  inset-block-start: 100px;
  inset-inline-start: 1%;
  inline-size: 96%;
  inset-block-end: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  overflow: auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9), 0 0 10px rgba(0, 0, 0, 0.9);
  background-color: var(--background-color);
  border-radius: 10px;
  scrollbar-width: none;
  padding: 1%;
}

/* Footer Styles */
footer {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  background-color: transparent;
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    width: 95%;
  }
}
